@{
    ViewBag.Title = "C# Fundamentals";
}
<h2>@ViewBag.Title.</h2>


<h3>@ViewBag.Message</h3>

<form>
    <div class="row">
        <input type="submit" class="btn btn-default col-xs-1 well" style="color:black; font-size:xx-large" value="+5" name="unop" onsubmit="@Url.Action("UnaryPlus","Operators")" />
    </div>
    <div class="row">
        <input type="submit" class="btn btn-default col-xs-2 well" style="color:black; font-size:xx-large" value="5 + 5" name="unop" onsubmit="@Url.Action("UnaryPlus","Operators")"/>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-default col-xs-2 well" style="color:black; font-size:xx-large" value="5 + .5" name="unop" onsubmit="@Url.Action("UnaryPlus","Operators")" />
    </div>
    <div class="row">
        <input type="submit" class="btn btn-default col-xs-2 well" style="color:black; font-size:xx-large" value="''5'' + ''5''" name="unop" onsubmit="@Url.Action("UnaryPlus","Operators")" />
    </div>
    <div class="row">
        <input type="submit" class="btn btn-default col-xs-2 well" style="color:black; font-size:xx-large" value="5.0 + ''5''" name="unop" onsubmit="@Url.Action("UnaryPlus","Operators")" />
    </div>

    <div class="row">
        <div class="col-xs-3 text-center" style="padding-top:15px; font-size:xx-large">
            Result = @ViewBag.Result
        </div>
    </div>

</form>


